# Ignorar dependencias y build locales
node_modules
dist
build
.cache
.tmp

# Archivos del sistema / editor
.DS_Store
.vscode
.idea

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Git
.git
.gitignore

# Archivos de test / coverage
coverage
*.spec.ts
*.test.ts
